<h2>Create new article</h2>

<form method="post" action="/articles">
  Title: <input type="text" name="title">
  <br>
  Body: <textarea name="body"></textarea>
  <br><br>
  <input type="submit">
</form>